In [2]:
x = 1
print(x)
x = 'hi'
print(x)

1
hi

In [4]:
a = 5
a += 1
a

6

In [5]:
b += 1

NameError: name 'b' is not defined

In [2]:
 5 / 2

2.5

In [2]:
print('hello', end=',')
print('hi')

hello,hi

In [3]:
z

NameError: name 'z' is not defined

In [5]:
x = 5
print(x)
del x
print(x)

5

NameError: name 'x' is not defined

In [6]:
1 > 2

False

In [10]:
2 > 1 > 0.3

True

In [12]:
'adc' > 'abd'

True

In [17]:
a = 'asdfasdfasdfasdfasdfsadfasdf'
b = 'asdasdfasdfasdfasdfsadfasdf'
a is b

False

In [20]:
a = 1
b = a 
print(a,b)
a = 3
print(a,b)

1 1
3 1

In [30]:
a = None
if a:
    print(a)

In [32]:
x = 1
y = 2
if x and y:
    print(x)

1

In [34]:
x or y

1

In [35]:
x and y

2

In [42]:
x = input()
# if not x:
#     x = 'hi'
x = x or 'hi'
x

asda

'asda'

In [44]:
x = 0
not x

True

In [46]:
"Noam said: \"hi\""

'Noam said: "hi"'

In [47]:
'Noam said: "hi"'

'Noam said: "hi"'

In [51]:
print('hi\nhello\nthere')

hi
hello
there

In [54]:
x = '''
hi
hello
there'''
print(x)

hi
hello
there

In [58]:
print(r'c:\windows\newstuff\todo')

c:\windows\newstuff\todo

In [60]:
x = 'hello world'
x.startswith('he')

True

In [65]:
'hello world'.count('ord')

0

In [62]:
len('hello world')

11

In [69]:
'hello world'.find('t')

-1

In [74]:
s = 'abcb'
s.replace('b', 'f', 1)
s.r

'afcb'

In [77]:
'NoaM@exAmple.com'.lower()

'noam@example.com'

In [79]:
x ='asdasd'
x.capitalize()

'Asdasd'

In [82]:
' \t NoaM@exAmple.com '.lower().strip()

'noam@example.com'

In [83]:
'//// asdads ///'.strip('/')

' asdads '

In [84]:
x = 'a'

AttributeError: 'str' object has no attribute '__dict__'

In [90]:
x = int(input('Please enter number: '))
x = x * 3
print(x)

Please enter number: 132123
396369

In [ ]:
name = 'gal'
age = 24
print('Hello {0} {1}!'.format(name, age))

In [95]:
TMPL = 'You got an error in {file} line {line}'
#.....
# ....

s = TMPL.format(file='a.py', line=5)
s

'You got an error in a.py line 5'

In [99]:
TMPL = '{test:40} {status:10}'
#------

print(TMPL.format(test='NDU', status='Failed'))
print(TMPL.format(test='Cluster expansion', status='Succeed'))

NDU                                      Failed
Cluster expansion                        Succeed

In [103]:
x = 0b101
print(x)
'{:b}'.format(x)

5

'101'

In [104]:
x = int(input())
msg = 'Higher than five' if x > 5 else 'Equel or lower than five'
print(msg)

6
Higher than five

In [105]:
x = int(input())  # Remember python2 is uses raw_input()
if x > 5:
    msg = 'Higher than five'
elif x == 5:
    msg = 'Equels five'
else:
    msg = 'Lower than five'
print(msg)

6
Higher than five

In [107]:
while True:
    name = input("Enter your name (or nothing to exit): ")
    if not name:
        print("Bye!")
        break
    print("Hello {}!".format(name))

Enter your name (or nothing to exit): noam
Hello noam!
Enter your name (or nothing to exit):
Bye!

In [108]:
x = 5
while x > 1:
    x-=1
    print(x)

4
3
2
1

In [110]:
for c in "Hello World!":
    print(c)
#     print(c, end=' ')

H
e
l
l
o

W
o
r
l
d
!

In [116]:
x = range(11, 1, -1) # xrange for python2
for i in x:
        print(i, end=',')

11,10,9,8,7,6,5,4,3,2,

In [118]:
for i in range(10):
    for j in range(10):
        print(i, j)

0 0
0 1
0 2
0 3
0 4
0 5
0 6
0 7
0 8
0 9
1 0
1 1
1 2
1 3
1 4
1 5
1 6
1 7
1 8
1 9
2 0
2 1
2 2
2 3
2 4
2 5
2 6
2 7
2 8
2 9
3 0
3 1
3 2
3 3
3 4
3 5
3 6
3 7
3 8
3 9
4 0
4 1
4 2
4 3
4 4
4 5
4 6
4 7
4 8
4 9
5 0
5 1
5 2
5 3
5 4
5 5
5 6
5 7
5 8
5 9
6 0
6 1
6 2
6 3
6 4
6 5
6 6
6 7
6 8
6 9
7 0
7 1
7 2
7 3
7 4
7 5
7 6
7 7
7 8
7 9
8 0
8 1
8 2
8 3
8 4
8 5
8 6
8 7
8 8
8 9
9 0
9 1
9 2
9 3
9 4
9 5
9 6
9 7
9 8
9 9

In [122]:
s = 'hello'
for i in range(len(s)):
    print(i, s[i])

0 h
1 e
2 l
3 l
4 o

In [123]:
for x in enumerate(s):
    print(x)

(0, 'h')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')

In [10]:
n = int(raw_input("enter a number between 1-50:"))
last_row = n - 1
spaces = n-2
for i in range(n):
    if i and i != last_row:
        print "*" + spaces * " " + "*"
    else:
        print "*"*n

enter a number between 1-50:10
**********
*        *
*        *
*        *
*        *
*        *
*        *
*        *
*        *
**********

In [11]:
import sys

num = int(raw_input('Enter a number in range 1 - 20: '))

if 20 < num or num < 1:
    print "Number is not in range 1 - 20"
    sys.exit(1)
    
for i in range(1, num+1):
    s = " " * (num - i) + "*" * (i * 2 - 1)
    print s

Enter a number in range 1 - 20: 15
              *
             ***
            *****
           *******
          *********
         ***********
        *************
       ***************
      *****************
     *******************
    *********************
   ***********************
  *************************
 ***************************
*****************************

In [16]:
def foo():
    if False:
        return 1

print(foo())

None

In [34]:
s = 'hello asdfsadf asdfasdf asdfasdf asd'
a = s[::-1]
print(s)
print(a)

hello asdfsadf asdfasdf asdfasdf asd
dsa fdsafdsa fdsafdsa fdasfdsa olleh

In [37]:
'hello world'.split('o')

['hell', ' w', 'rld']

In [3]:
print('hello, and ,welcome'.split(',', maxsplit=1))
print('hello, and ,welcome'.rsplit(',', maxsplit=1))

['hello', ' and ,welcome']
['hello, and ', 'welcome']

In [6]:
l = ['hi', 'bye']
''.join(l)

'hibye'

In [9]:
def rotate(s):
    return s[-1] + s[0:-1]

assert "dabc" == rotate("abcd")
assert "hello world" == rotate("ello worldh")
assert "x" == rotate("x")

In [20]:
def nachmanize(s):
    result = ''
    for i in range(len(s)+1):
        result += s[:i] + ' '
    return result
    # -----------------------


%timeit nachmanize("NachmanMeuman")

100000 loops, best of 3: 4.73 µs per loop

In [18]:
def nachmanize(s):
    result = []
    for i in range(len(s)+1):
        result.append(s[:i])
    return ' '.join(result)
    # -----------------------


%timeit nachmanize("NachmanMeuman")

100000 loops, best of 3: 4.59 µs per loop

In [24]:
fruits = ['apple', 'strawberry', 'melon', 'banana', 'apricot', 'grapes']
print(fruits.pop(0))
fruits

apple

['strawberry', 'melon', 'banana', 'apricot', 'grapes']

In [41]:
fruits = fruits1 = ['apple', 'strawberry', 'melon', 'banana', 'apricot', 'grapes']
print(fruits is fruits1)
# fruits += ['apple', 'x']
fruits.extend(['apple', 'x'])
print(fruits is fruits1)
print(fruits)
print(fruits1)
# fruits
# fruits1

True
True
['apple', 'strawberry', 'melon', 'banana', 'apricot', 'grapes', 'apple', 'x']
['apple', 'strawberry', 'melon', 'banana', 'apricot', 'grapes', 'apple', 'x']

In [35]:
fruits.extend(['apple', 'x'])
fruits

['apple', 'strawberry', 'melon', 'banana', 'apricot', 'grapes', 'apple', 'x']

In [47]:
fruits

['melon', 'apricot', 'grapes', 'apple', 'x']

In [45]:
del fruits[0]
fruits

['melon', 'banana', 'apricot', 'grapes', 'apple', 'x']

In [46]:
fruits.remove('banana')
fruits

['melon', 'apricot', 'grapes', 'apple', 'x']

In [51]:
f = ['melon', 'apricot', 'grapes', 'apple', 'x']
s = 'adsfasdfasdf'
len(s)

12

In [53]:
'y' in f

False

In [56]:
list('asdfsadfas')

['a', 's', 'd', 'f', 's', 'a', 'd', 'f', 'a', 's']

In [62]:
l = ['apricot', 'banana', 'strawberry', 'apple', 'orange']
l.reverse()

In [63]:
l = ['apricot', 'banana', 'strawberry', 'apple', 'orange']
l[::-1]

['orange', 'apple', 'strawberry', 'banana', 'apricot']

In [64]:
l = ['apricot', 'banana', 'strawberry', 'apple', 'orange']
l.sort()
l

['apple', 'apricot', 'banana', 'orange', 'strawberry']

In [76]:
import copy

l = [[10,1],5,25,100,250,1,[8,2]]
l1 = copy.deepcopy(l)
l[0].append(123)
l.append(456)
print(l1)
print(l)

[[10, 1], 5, 25, 100, 250, 1, [8, 2]]
[[10, 1, 123], 5, 25, 100, 250, 1, [8, 2], 456]

In [83]:
x = 1 
y = 2
x, y = y, x
print(x,y)

2 1

In [85]:
for i, c in enumerate('adsfasdf'):
    print(i, c)

0 a
1 d
2 s
3 f
4 a
5 s
6 d
7 f

In [86]:
for x in enumerate('adsfasdf'):
    print(x[0], x[1])

0 a
1 d
2 s
3 f
4 a
5 s
6 d
7 f

In [94]:
d = {
    'id': 123,
    'name': 'Gal',
    'age': 24,
    (3,4): 1
}
# d[(3,4)]

In [95]:
coordinate = {
    (5 ,7): 'Argentina'
}
coordinate[(5,7)]

'Argentina'

In [92]:
hash([1, 3, 4])

TypeError: unhashable type: 'list'

In [3]:
d = {
    'id': 123,
    'name': 'Gal',
    'age': 24,
}
25 in d.values()

False

In [4]:
for k,v in d.iteritems(): # python2
    print(k,v)

('age', 24)
('id', 123)
('name', 'Gal')

In [112]:
d.items()

dict_items([('id', 123), ('name', 'Gal'), ('age', 24)])

In [12]:
d.get('a')

In [14]:
# d
# switch(d):
#     case 1:
#         24
d.get('age')

24

In [18]:
s = {1, 'blah', 5, -1}
s.add(6)
s[1]

TypeError: 'set' object does not support indexing

In [22]:
l = [1,2,3,2]
s = set(l)
print(s)
l = list(s)
l

set([1, 2, 3])

[1, 2, 3]

In [26]:
s1 = {1,2}
s2 = {2,3}
s2 & s1

{2}