In [1]:
def func(arg1, named1, named2):
    print(arg1, named1, named2)

func('make', named2='day', named1='my')

make my day

In [55]:
l=[1,2,3]
l.reverse()
l

[3, 2, 1]

In [4]:
a, *args = range(1,5)
args

[2, 3, 4]

In [5]:
a,*the_rest = range(4)
print(the_rest)

[1, 2, 3]

In [1]:
def func(arg1, *args):
        print(args)
func(1, 2, 3, 4)

(2, 3, 4)

In [3]:
def foo(arg1, **kwargs):
    print(arg1)
    print(kwargs)
        
foo(1,two=2, three=3)

1
{'two': 2, 'three': 3}

In [6]:
def bar(arg1, arg2, arg3):
    print(arg1+arg2+arg3)

l = [1, 2, 3]
bar(*l)

6

In [8]:
def print_person(name, age):
    print('{} is {} years old'.format(name, age))

person = {'name': 'Mike', 'age': 28}
print_person(**person)

Mike is 28 years old

In [11]:
def list_fruits():
    fruits = ['bannana', 'apple']
    def show():
        print(fruits)
        
    return show

fruit_list = list_fruits()
fruit_list()

['bannana', 'apple']

In [24]:
def inventory_str(brand, **invetory):
    l = ['The following {} models are availble:'.format(brand)]
    for model, num in invetory.items():
        l.append('{} - {}'.format(model.title(),num))
    return '\n'.join(l)

expected_result = '''The following Toyota models are availble:
Corola - 7
Auris - 5
Camary - 10'''

result = inventory_str('Toyota', camary=10, auris=5, corola=7)
assert result == expected_result

The following Toyota models are availble:
Corola - 7
Auris - 5
Camary - 10 The following Toyota models are availble:
Corola - 7
Auris - 5
Camary - 10

In [37]:
# implement list_studets
def list_students(*args):
    l = []
    for i, v in enumerate(reversed(args)):
        l.append('{} {}'.format(i, v.title()))
    return '\n'.join(l)
        
expected_result = '''0 Tim
1 Tom
2 Tal'''
assert expected_result == list_students('tal', 'tom', 'tim')

0 Tim
1 Tom
2 Tal

In [ ]:
danny = Person('Danny', 'male', datetime.date(1975, 3, 12))
benny = Person('Benny', 'male', datetime.da`te(1989, 8, 10))
bracha = Person('Bracha', 'female', datetime.date(1966, 6, 6))

In [52]:
import datetime

ww1_end = datetime.date(1918, 11, 11)
ww2_start = datetime.date(1939, 9, 1)
europe_at_peace = ww2_start - ww1_end

print('{} days of peace'.format(europe_at_peace.days))

datetime.date.today()

7599 days of peace

datetime.date(2015, 10, 24)

In [43]:
time_from_1975 = datetime.date.date() - datetime.date(1975, 1, 1)
time_from_1975.`

14906